@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

:root {
  --content-width: 940px;
}

:root {
  --text-weight-thin: 100;
  --text-weight-light: 300;
  --text-weight-regular: 400;
  --text-weight-bold: 700;
  --text-weight-black: 900;
}

:root {
  --primary-color: #ffffff;
  --light-green: #00e0d0;
  --dark-blue: #4aa3cc;
  --light-gray: #f9f9f9;
  --light-gray-second: #fafafa;
  --dark-gray: #413d4b;
  --just-black: #000;
  --border-color: #d7d7d9;

  --overlay-blue: #09052f;
  --overlay-purple: #311d5e;
}

:root {
  --small-text-size: 13px;
  --nav-link-size: 13px;
  --text-size: 14px;
  --big-text-size: 16px;
  --huge-text-size: 22px;
}

:root {
  --nav-link-margin: 25px;
  --header-top-padding: 15px;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: var(--content-width);
  margin: 0 auto;
}
h1,
h2 {
  font-family: 'Playfair Display', serif;
}

button {
  font-family: 'Hammersmith One', sans-serif;
  outline: none;
  background: 0;
}

.separator {
  width: 50px;
  height: 1px;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  background: linear-gradient(90deg, var(--overlay-blue), var(--overlay-purple));
  opacity: 0.85;
}
